@charset "UTC-8";

*{  

    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #ffeceb;
    
}
div{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #e9ba6f;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 0px black;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.178);
}
#p1x, #p1y,#p2x,#p2y{
    width: 50px;
    border-radius: 5px;
    border: none;
    
}
form{
    text-align: center;
    margin-left: -20px;
    line-height: 40px;
    
}
input[type= "button"],input[type="reset"]{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -30px;
    cursor: pointer;
    
    
}
input[type= "button"]:hover,input[type="reset"]:hover{
    box-shadow: 1px 1px 6px  black;
    background-color: rgb(255, 252, 227);
}