
body{
    width: 97vw;
    height: 77Vh;
}
 img{
    display: flex;
    width: 700px;
    
}
#bateria{
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    width: 700px;
    margin: auto;
    margin-top: 200px;
}
.btn{
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}
#e{
    position: absolute;
    top: 12%;
    left: 8%;
    background-color: #7affc8be;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
}
#prato{
    margin: 0;
    width: 150px;
    position: absolute;
    top: 6%;
    left: 0%;
    
}

.circle{
    animation: circle .7s linear ;
}

@keyframes circle{
    0% {
        transform: rotate(10deg) translateX(0px);
    }
    20% {
        transform: rotate(-10deg) translateX(0px);
    }
    40% {
        transform: rotate(10deg) translateX(0px);
    }
    60% {
        transform: rotate(-10deg) translateX(0px);
    }
    80% {
        transform: rotate(10deg) translateX(0px);
    }
    100% {
        transform: rotate(-10deg) translateX(0px);
      }
}